version: "3.9"

networks:
  hadoop:
    driver: bridge

services:

  hadoop-master:
    image: yassern1/hadoop-spark-jupyter:1.0.3
    container_name: hadoop-master
    hostname: hadoop-master
    networks:
      - hadoop
    volumes:
      # Change the host path if needed
      - ./hadoop_project/shared_volume:/shared_volume
    ports:
      - "9870:9870"     # HDFS NameNode Web UI
      - "8088:8088"     # YARN ResourceManager UI
      - "7077:7077"     # Spark Master
      - "19888:19888"   # MapReduce Job History UI
      - "8080:8080"     # Jupyter or extra UI
      - "9000:9000"     # HDFS NameNode service port
    stdin_open: true    # Equivalent to -i
    tty: true           # Equivalent to -t

  hadoop-slave1:
    image: yassern1/hadoop-spark-jupyter:1.0.3
    container_name: hadoop-slave1
    hostname: hadoop-slave1
    networks:
      - hadoop
    ports:
      - "8040:8042"     # NodeManager Web UI
    stdin_open: true
    tty: true

  hadoop-slave2:
    image: yassern1/hadoop-spark-jupyter:1.0.3
    container_name: hadoop-slave2
    hostname: hadoop-slave2
    networks:
      - hadoop
    ports:
      - "8041:8042"     # NodeManager Web UI
    stdin_open: true
    tty: true

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    hostname: kafka-ui
    networks:
      - hadoop
    ports:
      - "8081:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=hadoop-master:9092
      - KAFKA_CLUSTERS_0_ZOOKEEPER=hadoop-master:2181
